/* COLOURS

dark green 1C2A2C
footer dark 24828

300,400,900; (normal and italic)
font-family: 'Raleway', sans-serif;
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

html {scroll-behavior: smooth;}


/* Temporary Styles */

/* * {
    padding: 0.5rem;
    border: 2px solid rgb(200,200,200);
}

html,
body {
    border: none;
}

h1,h2,h3,h4,h5,h6,p,a {
    border: 2px solid rgb(179, 84, 84);
} */

/* End temporary styles */

.tall-50 {min-height: 50vh;}
.tall-60 {min-height: 60vh;}
.tall-70 {min-height: 70vh;}
.tall-80 {min-height: 80vh;}
.tall-90 {min-height: 90vh;}
.tall-100 {min-height: 100vh;}

.padded   {padding:5%}
.padded-lrg   {padding:10%}
.padded-1 {padding:1rem;}
.padded-2 {padding: 2rem;}

.margin-t {margin-top: 5%;}
.margin-b-0 {margin-bottom: 0;}

.bg-featured {background-color: #1C2A2C;}
.bg-dark {background-color: #24282B;}

.light-text {color:white}

.left {text-align: left}
.center {text-align: center}
.right {text-align: right}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Typography */

@font-face {
    font-family: 'Classico';
    src: url('/fonts/classico-webfont.woff');
    src: local('☺︎'),
      url("/fonts/classico-webfont.woff") format("woff"),
      url("/fonts/classico-webfont.woff2") format("woff2"),
      url("/fonts/Classico.otf") format("opentype");
    }

@font-face {
    font-family: 'MonteCarlo';
    src: url('/fonts/montecarlo-webfont.woff');
    src: local('☺︎'),
        url("/fonts/montecarlo-webfont.woff") format("woff"),
        url("/fonts/montecarlo-webfont.woff2") format("woff2"),
        url("/fonts/montecarlo-webfont.ttf") format("truetype"),
        url("/fonts/MonteCarlo.otf") format("opentype");
    }

    @font-face {
        font-family: 'Culture';
        src: url('/fonts/culture-bold-webfont.woff2') format('woff2'),
             url('/fonts/culture-bold-webfont.woff') format('woff'),
             url('/fonts/culture-bold-webfont.ttf') format('truetype');
      }

body {
    background-color: #F8F0E3;
    font-family: 'Classico', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'MonteCarlo';
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

h1 {font-size: 5rem;}

h2 {font-size: 2.5rem;}

h3 {font-size: 1.8rem;}

.not-bold {font-weight: 400;}
.italic {font-style: italic;}
.subtitle {font-size: 2rem;}

p, li {
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0.8rem;
    font-size: 400;
}

p:last-child,
li:last-child {
    margin-bottom: 0;
}

.subtle {
    opacity: 0.8;
    font-size: 0.9rem;
    font-style: italic;
}

.logo {font-size: 5.5vw;}
.logo-footer {font-size: 3vw;}
.subtitle {font-size: 1vw; margin-bottom: 2rem;}

svg {color: white;}

.down {
    /* display: block;
    position: absolute; */
    margin-top: 10%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(277deg) brightness(103%) contrast(98%);
    width: 100px;
    height: 100px;
}

.bg-overlay {
    position: relative;
  }
  
  .bg-overlay::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
  }
  
  .bg-overlay > * {
    position: relative;
  }

/* Links & Navigation */

a {color: inherit;}

nav a {text-decoration: none;}

a:hover {color: #4e91ad;}

.breadcrumbs {
    font-family: 'Culture', 'Monte Carlo', 'Classico', serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    top: 2%;
    left: 2%;
    color: #24282B;
}

.breadcrumbs a:hover {
    border-bottom: 1px solid #24282B;
    color: white;
}

.fab {
    font-size: 1.5rem;
    padding-left: 1rem;
}

/* Newsletter sign up */

input {
    border-style: solid;
    border: 2px solid rgb(200, 200, 205);
    padding: 0.8em;
    display: block;
    width: 100%;
    font-size: 1rem;
    vertical-align: top;
    font-family: 'Classico', sans-serif;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid #24282B;
    /* featured color */
  }
  
  textarea {
    min-height: 7em;
  }
  
  input[type="submit"] {
    width: auto;
    display: block;
  }
  
  form [class*=col-] {
    padding: 5px;
  }
  
  .email-signup input {
    width: 30%;
    display: inline-block;
    max-width: 250px;
    margin-top:1rem;
  }
  
  .email-signup .button-solid {
    padding: 0.8em;
    border-radius: 0;
    font-size: 1rem;
    font-family: 'Classico', sans-serif;
    text-transform: uppercase;
  }
  form .button {
    width:100%;
  }

/* Footer Styles */

footer h2 {
    font-size: 5rem;
    line-height: 1;
}

footer p {margin-bottom: 0.2rem;}

/* Background Images */

.bg-image {
    background-color: #24282B;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-exterior {
    background-image: url('/images/glamping-exterior.jpg');
    min-height: 70vh;
    color: white;}

.bg-bed {background-image: url('/images/glamping-bedroom.jpg');}

.bg-view {background-image: url('/images/glamping-view.jpg');}

.bg-chair {background-image: url('/images/glamping-chair.jpg');}

.bg-cosy {background-image: url('/images/glamping-cosy.jpg');}

.bg-living {background-image: url('/images/glamping-living-room.jpg');}

.bg-bed-2 {
    background-image: url('/images/glamping-bedroom-2.jpg');
    background-position: 100%;
}

.social-banner {background-position: 50% 20%;}

/* LG Gridlex */
@media (max-width: 80em) {

.breadcrumbs {color: #f5f0ec;}
.margin-t {margin-top: 15%;}
}

/* SM - max-width in pixels approximately 768px */

@media (max-width: 48em) {

    .hide-sm {display: none;}

    .flex-flip-sm {flex-direction: column-reverse;}

    h1 {font-size: 4rem;}
    footer h2 {font-size: 3rem;}
    .logo {font-size: 3.5rem;}
    .logo-footer {font-size: 1.5rem;}

    .sm-center {text-align: center;}
    .sm-right {text-align: right;}

    .sm-padded-0 {padding: 0;}
    .margin-t {margin-top: 25%;}

    .breadcrumbs {
        font-size: 1rem;
        top: 2%;
        left: 5%;}

    .subtitle {
        font-size: 1rem;
        margin-top: 5%
    }

    .down {
        width: 50px;
        height: 50px;
    }

    .social-banner {
        background-image: none;
        background-color: #24282B;
        min-height: 30vh;
    }

    .email-signup input {
        width: 100%;
        max-width: 100%;
      }
}